* {
  margin: 0;
  padding: 0;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: skyblue;
}
li {
  list-style: none;
}
.clear:after {
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.clear {
  zoom: 1;
}
.con-width {
  max-width: 1200px;
  margin: 0 auto;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  padding-bottom: 200px;
  /* .footer 的高度，为 footer 占位 */
  background: url(../images/bg.png) repeat;
}
html,
body {
  font-family: "\5FAE\8F6F\96C5\9ED1";
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2;
}
/* 头部 */
.header {
  width: 100%;
}
.header .banner {
  display: none;
  width: 100%;
  height: 170px;
  background: skyblue;
  overflow: hidden;
  background: url(../images/banner.jpg) center bottom no-repeat;
  background-size: 100% auto;
  transition: 0.5s ease-in-out;
}
.header .banner:hover {
  height: 300px;
}
.header .top-box {
  width: 100%;
  height: 50px;
  line-height: 50px;
  position: relative;
  top: 0;
  z-index: 1000;
  background: #222;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
  color: #9d9d9d;
  overflow: hidden;
}
.header .top-box .position-change {
  width: 100%;
  height: 50px;
  line-height: 50px;
  position: relative;
  top: 0;
  z-index: 1000;
  background: #222;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
  color: #9d9d9d;
  overflow: hidden;
}
.header .top-box .topbar .left-bar {
  float: left;
}
.header .top-box .topbar .left-bar .nav-list .nav-item {
  width: 112px;
  text-align: center;
  float: left;
  height: 50px;
  font-size: 14px;
  transition: 0.2s;
}
.header .top-box .topbar .left-bar .nav-list .nav-item a {
  transition: 0.2s;
  display: block;
  color: #9d9d9d;
}
.header .top-box .topbar .left-bar .nav-list .nav-item a i {
  transition: 0.2s;
  color: #9d9d9d;
}
.header .top-box .topbar .left-bar .nav-list .nav-item.current {
  box-sizing: border-box;
  background: #000;
}
.header .top-box .topbar .left-bar .nav-list .nav-item.current a {
  color: #fff;
}
.header .top-box .topbar .left-bar .nav-list .nav-item.current a i {
  color: #fff;
}
.header .top-box .topbar .left-bar .nav-list .nav-item:hover a {
  color: #fff;
}
.header .top-box .topbar .left-bar .nav-list .nav-item:hover a i {
  color: #fff;
}
.header .top-box .topbar .right-bar {
  float: right;
}
.header .top-box .topbar .right-bar .login-btn {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  background: #555;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.header .top-box .topbar .right-bar .login-btn a {
  display: block;
  color: #aaa;
}
.header .top-box .topbar .right-bar .login-btn:hover {
  background: #666;
}
.header .top-box .topbar .right-bar .login-btn:hover a {
  color: #aaa;
}
/* 头部结束 */
/* 主体内容 */
.container {
  margin: 0 auto;
}
.main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}
.main .section-title {
  background: #222;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
}
.main .section-title h3 {
  color: #9d9d9d;
  font-weight: normal;
  text-indent: 10px;
}
.main .content {
  width: 850px;
  float: left;
}
.main .side {
  width: 330px;
  float: right;
}
.main .container {
  box-sizing: border-box;
  background-color: #f8f8fd;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;
  margin-bottom: 20px;
  overflow: hidden;
}
/* 关于站长 */
.author-board .author-box {
  height: 80px;
  background: url(../images/author-bg.jpg) no-repeat;
  background-size: 100% auto;
  background-position: center center;
  margin-bottom: 40px;
  position: relative;
}
.author-board .author-box .avater {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
}
.author-board .author-box .avater img {
  display: block;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid #9d9d9d;
}
.author-board .author-box .avater span.vip {
  display: block;
  background: url(../images/avatar_img.png) no-repeat;
  background-position: -50px 0px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0;
  bottom: 0;
}
.author-board .author-name {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.author-board .contact-list {
  display: flex;
  justify-content: center;
}
.author-board .contact-list .contact-item {
  position: relative;
  width: 50px;
  height: 30px;
  margin: 20px 10px;
  border-radius: 2px;
  background: #363e49;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.author-board .contact-list .contact-item a {
  display: block;
}
.author-board .contact-list .contact-item i.iconfont {
  font-size: 20px;
  color: #fff;
}
.author-board .contact-list .contact-item.webo {
  background: #ff2829;
}
.author-board .contact-list .contact-item.wechat {
  background: #4caf50;
}
.author-board .contact-list .contact-item.wechat .author-qrcode {
  display: none;
  width: 140px;
  height: 140px;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  overflow: hidden;
  border: 1px solid #9d9d9d;
  border-radius: 5px;
}
.author-board .contact-list .contact-item.wechat .author-qrcode img {
  display: block;
  width: 100%;
  height: 100%;
}
.author-board .contact-list .contact-item.wechat:hover .author-qrcode {
  display: block;
}
.author-board .contact-list .contact-item.email {
  background: #3690cf;
}
.author-board .contact-list .contact-item:hover {
  background: #363e49;
}
/* 热门文章 */
.hot-board .hot-list {
  box-sizing: border-box;
  padding: 10px 5px;
}
.hot-board .hot-list .hot-item {
  box-sizing: border-box;
  padding: 8px 0px;
  margin: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px dashed #bbb;
}
.hot-board .hot-list .hot-item:hover {
  padding-left: 5px;
}
.hot-board .hot-list .hot-item a {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 5px;
}
.hot-board .hot-list .hot-item i {
  display: inline-block;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  background: #9d9d9d;
  text-align: center;
  line-height: 20px;
  font-style: normal;
  color: #fff;
}
.hot-board .hot-list .hot-item:nth-of-type(1) i {
  background: #c00;
}
.hot-board .hot-list .hot-item:nth-of-type(2) i {
  background: #ef8f31;
}
.hot-board .hot-list .hot-item:nth-of-type(3) i {
  background: #6bd139;
}
/* 标签 */
.tag-board .tag-list {
  padding: 10px 5px;
}
.tag-board .tag-list a {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 0px 5px 10px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5) inset;
}
.tag-board .tag-list a:hover {
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
}
.tag-board .tag-list a:nth-of-type(n) {
  background: #ff9900;
}
.tag-board .tag-list a:nth-of-type(2n) {
  background: #aaaa00;
}
.tag-board .tag-list a:nth-of-type(3n) {
  background: #00aaff;
}
.tag-board .tag-list a:nth-of-type(5n) {
  background: #00ffaa;
}
.tag-board .tag-list a:nth-of-type(7n) {
  background: #22ff33;
}
/* 主体内容结束 */
/* 尾部 */
.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  width: 100%;
  font-size: 12px;
  background: #000;
  color: #666;
}
.footer p {
  line-height: 20px;
}
